@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-body);
  --font-heading: var(--font-heading);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, monospace;
  --grid-template-columns-7: repeat(7, minmax(0, 1fr));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), Nunito, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), Poppins, sans-serif;
}
